@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,900;1,75,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth@0,75;1,75&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    cursor: url("../assets/img/guante.png"), auto;
}

body{
    background-color: rgb(254, 246, 255);
    }
header{
    .bg-primary {
        background-color: #2f2134 !important;
        opacity: 0.8;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #ffffff;
        background-color: #805a8b;
    }
    .nav-link {
        color: #805a8b;
    }
    .nav-link:focus, .nav-link:hover {
        color: white;
    }
    .form-control, .form-control:focus{
        color: #48324e;
        background-color: #ffffff;
        border: var(--bs-border-width) solid #ffffff;
        box-shadow: none;
    }
    .btn-outline-success {
        --bs-btn-color: #805a8b;
        --bs-btn-border-color: #805a8b;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #805a8b;
        --bs-btn-hover-border-color: #805a8b;
    }
    .fa-circle-user{
        position:absolute;
        padding-top: 1.8vh;
    }
    .fa-circle-user:hover{
        font-size: 200%;
    }
    [data-bs-theme=dark] {
        --bs-secondary-color: #805a8bb4;
    }
}
main{
    h1{
        display: none;
    }
    .carrouselProductos{
        margin: 1vh;
        .carousel-caption{
            padding-bottom: 0;
            p{
                margin: 0;
            }
        }
    }
    .proBanner{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            padding: 0.5vh;
            background-color: #805a8b;
            color: white;
            border-radius: 10px;
            text-align: center;
            width: 30vh;
            text-decoration: none;
            text-align: center;
        }
        
    }
    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "guante botin indu acc";

    }
    .div1 { grid-area: guante; }
    .div2 { grid-area: botin; }
    .div3 { grid-area: indu; }
    .div4 { grid-area: acc; }
    .imagenProd{
        position: relative;
        margin: 1vh;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5vh;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .textoImagen{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.63);
            color: #fff;
            border-radius: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        &:hover .textoImagen{
            opacity: 1;
        }
    }
    .productosPromocion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "item1 item2 item3 item4 item5";
    }
    .item1 { grid-area: item1; }
    .item2 { grid-area: item2; }
    .item3 { grid-area: item3; }
    .item4 { grid-area: item4; }
    .item5 { grid-area: item5; }
    .cardVenta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin: 1vh;
        img{
            width: 100%;
            height: auto;
            border-radius: 5vh;
        }
        .tituloProducto{
            text-align: center;
            font-family: Roboto;
            height: 7vh;
            margin-top: 1vh;
            border-top:#805a8b 1px solid;
        }
        .precioProducto{
            font-family: Roboto;
        }
        .btnAgregar{
            width: 80%;
            height: 7vh;
            background-color: #805a8b;
            border-radius: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
footer{
    background-color: #805a8b;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2vh;
    ul{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        text-align: center;
        padding: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    img{
        width: 40vh;
        height: auto;
    }
    .fa-facebook, .fa-instagram{
        font-size: 8vh;
    }
    .fa-whatsapp{
        position: fixed;
        bottom: 5vh;
        right: 2vh;
        font-size: 8vh;
    }
}   